body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #3f3c6d, #4e4a89, #2e2a4f);
}

.glass-card {
  width: 550px;
  padding: 40px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}


.title {
  text-align: center;
  color: white;
  margin-bottom: 30px;
  font-weight: 600;
}

.neon-text {
  text-shadow:
    0 0 5px #8b5cf6,
    0 0 10px #8b5cf6,
    0 0 20px #8b5cf6;
}

.input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  padding: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
}

.left {
  display: flex;
  flex-direction: column;
}

.input-label {
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 6px;
  color: white;
}

.input-field {
  font-size: 26px;
  font-weight: 600;
  background: transparent;
  border: none;
  outline: none;
  color: white;
}

.right select {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border: none;
  outline: none;
  padding: 8px 12px;
  border-radius: 10px;
  appearance: none;          /* removes default arrow */
  -webkit-appearance: none;
  cursor: pointer;
}
.right select option {
  background-color: white;   /* dropdown white */
  color: black;              /* text black */
}

.swap-container {
  text-align: center;
  margin: 10px 0 20px 0;
}

.swap-btn {
  background: black;
  color: white;
  padding: 8px 18px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.swap-btn:hover {
  transform: rotate(180deg);
}

.convert-btn {
  width: 100%;
  padding: 16px;
  border-radius: 18px;
  border: none;
  font-weight: bold;
  background: linear-gradient(to right, #6366f1, #8b5cf6, #ec4899);
  color: white;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s ease;
}

.convert-btn:hover {
  transform: scale(1.05);
}
